html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    width: 100%;
}

:root {
    --post-title: 'category-tittle';
    --main-dark: #340100FF;
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--main-dark);
    color: darkorange;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    flex-wrap: wrap;
}

footer {
    height: 60px;
    width: 100%;
    background-color: darkorange;
    color: var(--main-dark);
    display: flex;
    align-items: center;
    bottom: 0;
    margin-top: -60px;
}

.search-bar {
    position: relative;
    display: none;
    background-color: rgba(255, 140, 0, 0.508);
    backdrop-filter: blur(5px);
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body>.container {
    min-height: 100vh;
    padding-bottom: 60px;
    margin-top: -80px;
    padding-top: 80px;
}

.menuContainer {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.menuContainer li a {
    color: #FFFE32;
    text-decoration: none;
}

.menuContainer li a:hover {
    text-decoration: underline;
}

.menuContainer>.menu {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.menuContainer .menu-item {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}

footer .menuContainer {
    width: 100%;
    float: none;
}

footer .menuContainer li a {
    color: var(--main-dark);
}

#topMenu .menu-item {
    position: relative;
    display: flex;
    align-items: center;
}

#footerMenu>.menu-item>.sub-menu,
#topMenu>.menu-item>.sub-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    top: 100%;
    left: 0;
    z-index: 2;
}

#footerMenu .sub-menu,
#topMenu .sub-menu {
    width: max-content;
}

#footerMenu .sub-menu .menu-item,
#topMenu .sub-menu .menu-item {
    text-align: left;
    background-color: var(--main-dark);
    padding: 10px;
    margin-bottom: 1px;
    margin-left: 0px;
}

#footerMenu .sub-menu .menu-item {
    margin-top: 1px;
    background-color: darkorange;
}

#topMenu .sub-menu .menu-item:hover {
    transition: 0.8s;
}

#topMenu>.menu-item>.sub-menu::before {
    content: "";
    height: 20px;
}

#topMenu>.menu-item>.sub-menu .sub-menu {
    position: absolute;
    display: none;
    left: 110%;
    padding-left: 0px;
    top: 0%;
}

#topMenu>.menu-item>.sub-menu>.menu-item .sub-menu>.menu-item {
    display: flex;
    align-items: center;
}

.has-submenu {
    height: 10px;
    width: 30px;
    background-image: url("../images/icon/Expand-Arrow_52px.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    transform: rotate(270deg);
}

.open-submenu {
    position: absolute;
    display: none;
    left: 97%;
    height: 100%;
    width: 20px;
    background-image: url("../images/icon/arrow-show-submenu.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    float: right;
}

.card.post-card {
    padding: 10px;
    margin: 10px;
    position: static;
}

.single-post {
    margin-top: 20px;
    padding: 10px 20px;
}

.single-post .title {
    text-align: right;
    padding: 5px;
}

.single-post .contetn {
    padding: 5px;
}

.single-post .author-info {
    color: darkorange;
}

.next-back {
    margin: 10px 10%;
    display: flex;
    justify-content: space-between;
}

.single-post a {
    text-decoration: none;
    color: var(--main-dark);
}

.single-post .related-tages {
    font-size: 1.1em;
    background-color: whitesmoke;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 5px
}

.single-post .related-tages::after {
    content: " >>";
}

.category-title {
    text-align: right;
    margin: 20px 10px;
    padding: 10px 10px;
    border-bottom: 2px solid var(--main-dark);
    text-transform: capitalize;
    font-family: 'category-tittle';
}

.attachment-slider {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.all-post .card.post-card {
    padding: 0px;
    position: relative;
    margin: 10px 1px;
}

.all-post .card .content {
    position: absolute;
    padding: 5px;
    display: block;
    color: #FFFE32;
    font-size: 1.1em;
    width: 100%;
    height: 75%;
    margin-top: 5%;
    background-color: #0000004F;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.all-post .card .content a {
    color: whitesmoke;
    text-decoration: none;
}

.all-post .card:hover .content {
    opacity: 1;
}

.blog-sidebar {
    border: 1px silver solid;
    padding: 15px;
    box-shadow: 5px 5px 50px #0000001f;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar-title {
    font-family: "category-tittle";
    text-transform: capitalize;
    border-bottom: 2px solid var(--main-dark);
}

.screen-reader-text {
    text-transform: capitalize;
}

.blog-sidebar select {
    border: none;
    background: #00000014;
    border-radius: 5px;
}

.sidebar-container {
    position: sticky;
    top: 100px;
    margin: 10px;
}

.sidebar-container::before {
    content: "";
    height: 20px;
}

.sidebar-container::after {
    content: "";
    height: 10px;
}

.sidebar-container ul {
    list-style: none;
    padding-right: 10px;
    font-size: 1.2em;
}

.sidebar-container ul li {
    margin-bottom: 3px;
}

.sidebar-container ul li a {
    color: darkorange;
    text-decoration: none;
}

.sidebar-container ul li:hover a {
    text-decoration: underline;
}

.search-form {
    height: 100%;
}

.search-form form {
    height: 100%;
}

.search-form input[name="s"] {
    width: 85%;
    text-align: center;
    margin-top: 10px;
    height: 80%;
    background: transparent;
    border: 3px solid var(--main-dark);
    border-radius: 15px;
    font-size: 1.8em;
}

.search-form input[name="s"]:focus-visible {
    border: none;
    outline: none;
}

.search-form button[type="submit"] {
    width: 10%;
    background: none;
    border: none;
    font-size: 2.4em;
}